#preloader {
      position: fixed; 
      top: 0;  
      left: 0; 
      right: 0;  
      bottom: 0;  
      z-index: 9999;  
      overflow: hidden; 
      background: #fff;
    }
#preloader:before {  
    content: "";  
    position: fixed;  
    top: calc(50% - 30px); 
    left: calc(50% - 30px);  
    border: 6px solid #f2f2f2;  
    border-top: 6px solid #56829e ;  
    border-radius: 50%;  width: 60px;  
    height: 60px;  
    -webkit-animation: animate-preloader 1s linear infinite;  
    animation: animate-preloader 1s linear infinite;
}
@-webkit-keyframes animate-preloader {
    0%{    
        -webkit-transform: rotate(0deg);    
        transform: rotate(0deg);  
    } 

    100% {    
        -webkit-transform: rotate(360deg);    
        transform: rotate(360deg);  
    }
}
@keyframes animate-preloader {  
    0% {    
        -webkit-transform: rotate(0deg);    
        transform: rotate(0deg);  
    }  
    100% {    
        -webkit-transform: rotate(360deg);    
        transform: rotate(360deg);  
    }
}

.carousel-item {
    height: 80vh;
}

.modal-backdrop.fade.show {
    opacity: 0;
    z-index: 0;
}

#countries {
    max-height: 50vh; 
    overflow-x: hidden; 
    overflow-y: scroll;
    z-index: 9999;
}

.navbar {
    height: 60px;
}

.navbar * {
    position: relative;
    z-index: 9999;
}

#mapid {
    height: calc(100vh - 60px);
    text-align: center;
    margin: 0 auto;
}

#element {
    overflow-x: auto;
    display: flex;
    flex: row nowrap;
}

#element > div {
    width: auto;
}

#element span {
    color: white;
}

#element.modal-body p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    line-height: 0.2vh;
    padding: 5px 5px;
    text-align: center;
}

#element.modal-body h5 {
    font-weight: bold;
}

#navbardropdown {
    z-index: 9999;
    position: relative;
}

#weatherCar .carousel-indicators {
    margin-bottom: 0;
}

main.container-fluid {
   padding: 0;
}

.leaflet-popup-content-wrapper {
    max-width: 40vw;
    min-width: 20vw;
    max-height: 40vh;
    min-height: 20vh;
    overflow: auto;
    margin: 0 auto;
}

#popContent {
    position: relative;
    top: 35px;
}

#popHeader {
    color: #F5F5F5;
    opacity: 1;
    height: 5vh;
    margin: 0;
    padding: 4px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
}

.leaflet-popup-content-wrapper::-webkit-scrollbar-track
{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.6);   
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6);
    background-color: #CCCCCC;
}

.leaflet-popup-content-wrapper::-webkit-scrollbar
{
    width: 0;
    background: transparent;
}

.leaflet-popup-content-wrapper::-webkit-scrollbar-thumb
{
    background-color: #FFF;
    background-image: -webkit-linear-gradient(90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 25%,
    transparent 100%,
    rgba(0, 0, 0, 1) 75%,
    transparent)
}

.col-8 {
    text-align: justify;
}

.leaflet-popup-close-button {
    right: 1px !important;
}

.card {
    width: 100%;
}

.card-img-top {
    border: 1px solid #000;
}

#weatherDescription {
    transition: all 0.5s ease;
    margin: 10px;
    box-shadow: 1px 1px 1px 1px black;
    border-radius: 5px;
}

#weatherDescription:hover {
    transform: scale(1.2);
}

#element::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    width: 3px;
    height: 3px;
}

#element::-webkit-scrollbar
{
	width: 3px;
	background-color: #F5F5F5;
}

#element::-webkit-scrollbar-thumb
{
	background-color: #000000;
}

#mymodal {
    border-radius: 5px;
}