#preloader {
      position: fixed; 
      top: 0;  
      left: 0; 
      right: 0;  
      bottom: 0;  
      z-index: 9999;  
      overflow: hidden; 
      background: #fff;
    }
#preloader:before {  
    content: "";  
    position: fixed;  
    top: calc(50% - 30px); 
    left: calc(50% - 30px);  
    border: 6px solid #f2f2f2;  
    border-top: 6px solid #56829e ;  
    border-radius: 50%;  width: 60px;  
    height: 60px;  
    -webkit-animation: animate-preloader 1s linear infinite;  
    animation: animate-preloader 1s linear infinite;
}
@-webkit-keyframes animate-preloader {
    0%{    
        -webkit-transform: rotate(0deg);    
        transform: rotate(0deg);  
    } 

    100% {    
        -webkit-transform: rotate(360deg);    
        transform: rotate(360deg);  
    }
}
@keyframes animate-preloader {  
    0% {    
        -webkit-transform: rotate(0deg);    
        transform: rotate(0deg);  
    }  
    100% {    
        -webkit-transform: rotate(360deg);    
        transform: rotate(360deg);  
    }
}

.carousel-item {
    height: 80vh;
}

.modal-backdrop.fade.show {
    opacity: 0;
    z-index: 0;
}

#countries.dropdown-menu.dropdown-menu-right.show {
    z-index: 9999;
}

#modalButton {
    background-image: url('../images/weather.png') !important;
    background-size: contain;
    background-repeat: no-repeat;
    height: 8vh;
    width: 8vw;
    z-index: 9999;
    position: relative;
    margin: 3vh;
    border: none;
    box-shadow: 3xp, 3px;
    border-radius: 5px;
    left: 85vw;
}

#modalButton:hover {
    opacity: 0.7;
}

#countries {
    max-height: 50vh; 
    overflow-x: hidden; 
    overflow-y: scroll;
    z-index: 9999;
    
}

.navbar {
    height: 40px;
}

#mapid {
    height: calc(100vh - 40px)
}

#element {
    overflow: auto;
    z-index: 9995;
    position: relative;
    padding: 0;
}

#navbardropdown {
    z-index: 9999;
    position: relative;
}

#weatherCar .carousel-indicators {
    margin-bottom: 0;
}
