#preloader {
      position: fixed; 
      top: 0;  
      left: 0; 
      right: 0;  
      bottom: 0;  
      z-index: 9999;  
      overflow: hidden; 
      background: #fff;
    }
#preloader:before {  
    content: "";  
    position: fixed;  
    top: calc(50% - 30px); 
    left: calc(50% - 30px);  
    border: 6px solid #f2f2f2;  
    border-top: 6px solid #56829e ;  
    border-radius: 50%;  width: 60px;  
    height: 60px;  
    -webkit-animation: animate-preloader 1s linear infinite;  
    animation: animate-preloader 1s linear infinite;
}
@-webkit-keyframes animate-preloader {
    0%{    
        -webkit-transform: rotate(0deg);    
        transform: rotate(0deg);  
    } 

    100% {    
        -webkit-transform: rotate(360deg);    
        transform: rotate(360deg);  
    }
}
@keyframes animate-preloader {  
    0% {    
        -webkit-transform: rotate(0deg);    
        transform: rotate(0deg);  
    }  
    100% {    
        -webkit-transform: rotate(360deg);    
        transform: rotate(360deg);  
    }
}

.carousel-item {
    height: 80vh;
}

.modal-backdrop.fade.show {
    opacity: 0;
    z-index: 0;
}

#countries {
    max-height: 50vh; 
    overflow-x: hidden; 
    overflow-y: scroll;
    z-index: 9999;
}

.navbar * {
    position: relative;
    z-index: 9999;
}

#mapid {
    height: calc(100vh - 60px);
    text-align: center;
    margin: 0 auto;
}

#element {
    overflow: auto;
}

#element.modal-body p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    line-height: 0.2vh;
    padding: 5px 5px;
    text-align: center;
}

#element.modal-body h5 {
    font-weight: bold;
}

#navbardropdown {
    z-index: 9999;
    position: relative;
}

#weatherCar .carousel-indicators {
    margin-bottom: 0;
}

main.container-fluid {
   padding: 0;
}

.leaflet-popup-content-wrapper {
    max-width: 40vw;
    min-width: 20vw;
    max-height: 40vh;
    min-height: 20vh;
    overflow: auto;
}

.leaflet-popup-content-wrapper > p {
    top: 30px;
}

#popHeader {
    color: #F5F5F5;
    height: 5vh;
    margin: 0;
    padding: 0;
}

.leaflet-popup-content-wrapper::-webkit-scrollbar-track
{
box-shadow: inset 0 0 6px rgba(0,0,0,0.6);   
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6);
background-color: #CCCCCC;
}

.leaflet-popup-content-wrapper::-webkit-scrollbar
{
    width: 0;
background: transparent;
}

.leaflet-popup-content-wrapper::-webkit-scrollbar-thumb
{
background-color: #FFF;
background-image: -webkit-linear-gradient(90deg,
  rgba(0, 0, 0, 1) 0%,
  rgba(0, 0, 0, 1) 25%,
  transparent 100%,
  rgba(0, 0, 0, 1) 75%,
  transparent)
}

.col-8 {
    text-align: justify;
}

.leaflet-popup-close-button {
    right: 5px !important;
}